@{
    ViewBag.Title = "ShowUserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles for @ViewBag.UserName</h2>
<div class="spacer"></div>

@if (ViewBag.ErrorMsg != null || ViewBag.SuccessMsg != null)
{
    if (ViewBag.ErrorMsg != null)
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p>@ViewBag.ErrorMsg</p>
        </div>
    }
    else
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p>@ViewBag.SuccessMsg</p>
        </div>
    }
}

<ul>
    @foreach (var role in ViewBag.Roles)
    {
        <li>@role</li>
    }
</ul>

@if (ViewBag.Roles.Count == 0)
{
    <p>This user has no role.</p>
}

<div class="spacer"></div>
@Html.ActionLink("Back to manage user roles", "ManageUserRoles")
