@model GoodSamaritan.Models.Smart.Smart

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Smart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SexExploitation.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SexExploitation.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MultiplePerps.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MultiplePerps.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrugFacilitated.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DrugFacilitated.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityOfAssault.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityOfAssault.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityOfResidence.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityOfResidence.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccompanimentMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccompanimentMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferringHospital.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferringHospital.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HospitalAttended.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospitalAttended.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialWorkAttendance.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialWorkAttendance.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceAttendance.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceAttendance.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VictimServiceAttendanceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VictimServiceAttendanceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalOnly.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalOnly.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvidenceStored.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvidenceStored.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HivMeds.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HivMeds.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferredToCbvs.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferredToCbvs.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceReported.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceReported.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdPartyReport.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdPartyReport.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadDateReport.IsBadDateReported)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadDateReport.IsBadDateReported)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberTransportsProvided)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberTransportsProvided)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferredToNursePracticioner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferredToNursePracticioner)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
