@model IEnumerable<GoodSamaritan.Models.Smart.Smart>

@{
    ViewBag.Title = "Smart";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityOfAssault.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospitalAttended.Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityOfAssault.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalAttended.Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SmartId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SmartId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SmartId })
        </td>
    </tr>
}

</table>
