@model IEnumerable<GoodSamaritan.Models.Smart.Smart>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BadDateReport.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityOfAssault.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityOfResidence.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrugFacilitated.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvidenceStored.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HivMeds.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospitalAttended.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalOnly.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MultiplePerps.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoliceAttendance.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoliceReported.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferredToCbvs.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferringHospital.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SexExploitation.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialWorkAttendance.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdPartyReport.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccompanimentMinutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VictimServiceAttendanceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberTransportsProvided)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferredToNursePracticioner)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BadDateReport.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityOfAssault.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityOfResidence.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrugFacilitated.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvidenceStored.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HivMeds.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalAttended.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedicalOnly.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MultiplePerps.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoliceAttendance.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoliceReported.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferredToCbvs.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferringHospital.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SexExploitation.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SocialWorkAttendance.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdPartyReport.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccompanimentMinutes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VictimServiceAttendanceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberTransportsProvided)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferredToNursePracticioner)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SmartId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SmartId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SmartId })
        </td>
    </tr>
}

</table>
