@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Administrator") || User.IsInRole("Worker"))
        {
            <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
        }

        if (User.IsInRole("Administrator"))
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-expanded="false">Look-up Tables<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Abuser Relationship", "Index", "AbuserRelationships")</li>
                    <li>@Html.ActionLink("Age", "Index", "Ages")</li>
                    <li>@Html.ActionLink("Assigned Workers", "Index", "AssignedWorkers")</li>
                    <li>@Html.ActionLink("Crises", "Index", "Crises")</li>
                    <li>@Html.ActionLink("Duplicate Files", "Index", "DuplicateFiles")</li>
                    <li>@Html.ActionLink("Ethnicities", "Index", "Ethnicities")</li>
                    <li>@Html.ActionLink("Family Violence Files", "Index", "FamilyViolenceFiles")</li>
                    <li>@Html.ActionLink("Incidents", "Index", "Incidents")</li>
                    <li>@Html.ActionLink("Programs", "Index", "Programs")</li>
                    <li>@Html.ActionLink("Referral Contacts", "Index", "ReferralContacts")</li>
                    <li>@Html.ActionLink("Referral Sources", "Index", "ReferralSources")</li>
                    <li>@Html.ActionLink("Repeat Clients", "Index", "RepeatClients")</li>
                    <li>@Html.ActionLink("Risk Levels", "Index", "RiskLevels")</li>
                    <li>@Html.ActionLink("Risk Statuses", "Index", "RiskStatus")</li>
                    <li>@Html.ActionLink("Services", "Index", "Services")</li>
                    <li>@Html.ActionLink("Victims Of Incidents", "Index", "VictimsOfIncidents")</li>
                    <li>@Html.ActionLink("Years", "Index", "Years")</li>
                    <li>@Html.ActionLink("Statuses Of Files", "Index", "StatusesOfFiles")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
        }
    }
</ul>
