@{
    ViewBag.Title = "User Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles for @ViewBag.user.UserName</h2>

<table class="table">
    <tr>
        <th>Role</th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var role in ViewBag.currRoles)
        {
            <tr>
                <td>@role</td>
                <td>
                    @using (Html.BeginForm("Remove", "Users"))
                    {
                        @Html.AntiForgeryToken()

                        <input type="hidden" name="roleName" id="roleName" value="@role" />
                        <input type="hidden" name="userId" id="userId" value="@ViewBag.user.Id" />
                        <input type="submit" value="Remove from user" class="btn btn-default" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>



<hr />

<h3>Add @ViewBag.user.UserName to role</h3>
