@model IEnumerable<goodSamaritan.Models.Client.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AbuserRelationship.Relationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age.Range)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedWorkder.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Crisis.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuplicateFile.IsDuplicate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ethnicity.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiscalYear.Range)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Incident.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferralContact.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferralSource.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepeatClient.IsRepeat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RiskLevel.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RiskStatus.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusOfFile.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VictimOfIncident.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoliceFileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourtFileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SWCFileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssessmentAssgndTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbuserSFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyViolenceFildeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumChildrenZeroToSix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumChildrenSevenToTwelve)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLastTransferred)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateClosed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReOpened)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AbuserRelationship.Relationship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age.Range)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedWorkder.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Crisis.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuplicateFile.IsDuplicate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ethnicity.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiscalYear.Range)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Incident.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferralContact.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferralSource.Source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepeatClient.IsRepeat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RiskLevel.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RiskStatus.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusOfFile.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VictimOfIncident.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoliceFileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourtFileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SWCFileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssessmentAssgndTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbuserSFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyViolenceFildeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumChildrenZeroToSix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumChildrenSevenToTwelve)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateLastTransferred)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateClosed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReOpened)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientId })
        </td>
    </tr>
}

</table>
