@model IEnumerable<goodSamaritan.Models.Client.FamilyViolenceFile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exists)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exists)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FamilyViolenceFileId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FamilyViolenceFileId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FamilyViolenceFileId })
        </td>
    </tr>
}

</table>
